<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drum-Kit</title>
    <link rel="stylesheet" href="drumkitCSS/style.css">
</head>

<body>
    <div class="container">

        <div id="keyContainer">
            <div data-key="81" class="keys">
                <kbd>Q</kbd>
                <p>LASER1</p>
            </div>
            <div data-key="87" class="keys">
                <kbd>W</kbd>
                <p>LASER2</p>
            </div>
            <div data-key="69" class="keys">
                <kbd>E</kbd>
                <p>CYMB1</p>
            </div>
            <div data-key="82" class="keys">
                <kbd>R</kbd>
                <p>CYMB2</p>
            </div>
            <div data-key="84" class="keys">
                <kbd>T</kbd>
                <p>DARK</p>
            </div>
            <div data-key="89" class="keys">
                <kbd>Y</kbd>
                <p>DHI</p>
            </div>
            <div data-key="85" class="keys">
                <kbd>U</kbd>
                <p>CUP</p>
            </div>
            <div data-key="73" class="keys">
                <kbd>I</kbd>
                <p>DISC1</p>
            </div>
            <div data-key="79" class="keys">
                <kbd>O</kbd>
                <p>DISC2</p>
            </div>
            <div data-key="80" class="keys">
                <kbd>P</kbd>
                <p>ECHO</p>
            </div>
            <div data-key="65" class="keys">
                <kbd>A</kbd>
                <p>CLAP</p>
            </div>
            <div data-key="83" class="keys">
                <kbd>S</kbd>
                <p>BARK</p>
            </div>
            <div data-key="68" class="keys">
                <kbd>D</kbd>
                <p>CHIRP</p>
            </div>
            <div data-key="70" class="keys">
                <kbd>F</kbd>
                <p>BOOM</p>
            </div>
            <div data-key="71" class="keys">
                <kbd>G</kbd>
                <p>MELO</p>
            </div>
            <div data-key="72" class="keys">
                <kbd>H</kbd>
                <p>BELL</p>
            </div>
            <div data-key="74" class="keys">
                <kbd>J</kbd>
                <p>CLONK</p>
            </div>
            <div data-key="75" class="keys">
                <kbd>K</kbd>
                <p>THIN</p>
            </div>
            <div data-key="76" class="keys">
                <kbd>L</kbd>
                <p>BALES1</p>
            </div>
            <div data-key="90" class="keys">
                <kbd>Z</kbd>
                <p>BALES2</p>
            </div>
            <div data-key="88" class="keys">
                <kbd>X</kbd>
                <p>CRASH</p>
            </div>
            <div data-key="67" class="keys">
                <kbd>C</kbd>
                <p>ZAP</p>
            </div>
            <div data-key="86" class="keys">
                <kbd>V</kbd>
                <p>TURR1</p>
            </div>
            <div data-key="66" class="keys">
                <kbd>B</kbd>
                <p>TURR2</p>
            </div>
            <div data-key="78" class="keys">
                <kbd>N</kbd>
                <p>ALIEN</p>
            </div>
            <div data-key="77" class="keys">
                <kbd>M</kbd>
                <p>SPIN</p>
            </div>
        </div>

    </div>

    <audio data-key="81" src="drumkitSounds/laser1.wav"></audio>
    <audio data-key="87" src="drumkitSounds/laser2.wav"></audio>
    <audio data-key="69" src="drumkitSounds/CYMB1.wav"></audio>
    <audio data-key="82" src="drumkitSounds/CYMB2.wav"></audio>
    <audio data-key="84" src="drumkitSounds/DARK.wav"></audio>
    <audio data-key="89" src="drumkitSounds/dhi.wav"></audio>
    <audio data-key="85" src="drumkitSounds/cup.wav"></audio>
    <audio data-key="73" src="drumkitSounds/DISC1.wav"></audio>
    <audio data-key="79" src="drumkitSounds/DISC2.wav"></audio>
    <audio data-key="80" src="drumkitSounds/ECHO.wav"></audio>
    <audio data-key="65" src="drumkitSounds/clap.wav"></audio>
    <audio data-key="83" src="drumkitSounds/bark.wav"></audio>
    <audio data-key="68" src="drumkitSounds/chirp.wav"></audio>
    <audio data-key="70" src="drumkitSounds/boom.wav"></audio>
    <audio data-key="71" src="drumkitSounds/melody.wav"></audio>
    <audio data-key="72" src="drumkitSounds/bell.wav"></audio>
    <audio data-key="74" src="drumkitSounds/CLONK.wav"></audio>
    <audio data-key="75" src="drumkitSounds/THIN.wav"></audio>
    <audio data-key="76" src="drumkitSounds/BALES1.WAV"></audio>
    <audio data-key="90" src="drumkitSounds/BALES2.WAV"></audio>
    <audio data-key="88" src="drumkitSounds/CRASH.wav"></audio>
    <audio data-key="67" src="drumkitSounds/ZAP.wav"></audio>
    <audio data-key="86" src="drumkitSounds/TURR1.wav"></audio>
    <audio data-key="66" src="drumkitSounds/TURR2.wav"></audio>
    <audio data-key="78" src="drumkitSounds/ALIEN.wav"></audio>
    <audio data-key="77" src="drumkitSounds/SPIN.wav"></audio>


    <script src="drumkitJS/drumkit.js"></script>
</body>

</html>